body {
  background-color: orangered;
}

header {
  margin: 20px;
}

main {
  margin: 30px;
}

nav a {
  background-color: blue;
  color: lime;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
}

nav {
  background-color: black;
  padding: 15px;
  max-width: fit-content;
  border-radius: 15px;
}

.error {
  color: brown;
  padding: 10px;
}

input {
  margin-left: 40px;
  display: block;
}

label {
  margin-left: 40px;
}

.logo {
  max-width: 500px;
  max-height: 500px;
}

#divCountdown {
  background-color: blue;
  color: lime;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  font-size: 25pt;
  max-width: fit-content;
}

#divCountdownMessage {
  background-color: blue;
  color: lime;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  font-size: 25pt;
  max-width: fit-content;
}