body{
    background-color: rgb(209, 86, 3);
}

header{
margin: 20px;
}

main{
    margin: 30px;
}

nav a{ 
    background-color: blue;
    color: rgb(84, 211, 0);
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

.error{
    color: brown;
    padding: 10px;
}

input{
    margin-left: 40px;
    display: block;
}

label{
    margin-left: 40px;
}

.logo{
    max-width: 500px;
    max-height: 500px;
}